.booking-vehicle-container {
  display: flex;
  padding: 32px 0;
  margin: auto;
  flex-wrap: wrap;
  flex-direction: row;
}

.booking-vehicle-container .booking-page-heading {
  width: 100%;
  font-size: 60px;
  margin-bottom: 1.5rem;
}

.breadcrumb {
  font-size: 0.95rem;
  color: #666;
}

.breadcrumb-link {
  text-decoration: none;
  color: #4a4a4a;
  font-weight: 500;
}

.breadcrumb-link:hover {
  text-decoration: underline;
}

.dot {
  color: #aaa;
  padding: 0 10px;
  position: relative;
  top: 2px;
}

.left-right-panel-container {
        width: 100%;
        display: flex;
        gap: 40px;
}

.left-right-panel-container .left-panel {
  width: 60%;
}

.left-right-panel-container .right-panel {
  width: 40%;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 40px;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  align-self: flex-start;
  position: sticky;
  top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.vehicle-selection {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1rem;
}

.vehicle-selection select {
  padding: 10px 12px;
  border-radius: 8px;
  font-size: 1rem;
  border: 1px solid #ccc;
  width: 100%;
}

.vehicle-business-info h3 {
  font-size: 30px;
  margin: 0;
}

.summary-section {
}

.summary-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.summary-section li {
  margin-bottom: 0.5rem;
}

.total-price {
  margin-top: 1.2rem;
  font-weight: bold;
  font-size: 1.1rem;
}

.right-panel-continue {
  margin-top: 30px;
}

.continue-btn {
  background-color: #1e3a8a;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.2s ease-in-out;
}

.continue-btn:hover:not(:disabled) {
  background-color: #374fc7;
}

.continue-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}